body {
    background-color: #030324;
    background-image: url('dogbg.jpg');
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: rgb(43, 6, 32);
    font-family:'Courier New', Courier, monospace;
    font-size: 4em;
    display: flex;
}

.input-box {
    height: 50px;
    width: 50px;
    margin: 10px;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    /* cursor: none; */
    caret-color: transparent;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.exists {
    background-color: yellow;
    color: black;
}

.correct {
    background-color: green;
    color: white;
}

.wordle-instructions {
    position: absolute;
    width: 30%;
    height: 80%;
    left: 4%;
    top: 10%;
    display: flex;
    justify-content: left;
    font-size: 2em;
    padding-top: 20px;
    color: rgb(26, 05, 17);
}
